.leagueHeader {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2px;
}

.leagueOption {
  background: white;
  border: 2px solid var(--main-red);
  padding: 0.5rem 1.4rem;
  width: 9rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.selectedOption {
  background-color: var(--main-red);
  color: white;
  font-weight: bold;
}
