.leagueHeader {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2px;
}

.leagueOption {
  background: white;
  border: 2px solid var(--main-blue);
  padding: 0.5rem 1.4rem;
  width: 9rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  background-blend-mode: lighten;
}

.leagueOption:hover {
  background-blend-mode: darken;
}

.selectedOption {
  background-color: var(--main-red);
  color: white;
  font-weight: bold;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
