.selectsection {
  text-align: center;
}

.pickscontainer {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 1rem auto;
}

.gamecontainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  margin-bottom: 5px;
}

.teamcontainer {
  flex: 1;
  text-align: center;
  background-color: white;
  border: solid 1px #dddddd;
  cursor: pointer;
  padding: 8px 5px;
  border-radius: 6px;
}

.blocked {
  background: gray;
  text-decoration: line-through;
  cursor: not-allowed;
}

.picked {
  background: yellow;
}
