.selectsection {
  text-align: center;
}

.selectWeek {
  padding: 5px;
  font-size: 1.3rem;
  border: 2px solid var(--main-blue);
  border-radius: 4px;
}

.pickscontainer {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 1rem auto;
}

.gameDate {
  text-align: center;
  font-size: 0.8rem;
  color: black;
  text-transform: uppercase;
}

.gamecontainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  margin-bottom: 1rem;
}

.teamcontainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  background-color: white;
  border: solid 1px #dddddd;
  cursor: pointer;
  height: 50px;
  padding: 10px 5px;
  border-radius: 6px;
}

.blocked {
  background: gray;
  cursor: not-allowed;
}

.picked {
  background: yellow;
}

.pickedWrong {
  background: var(--incorrect-pick);
}

.pickedCorrect {
  background: var(--correct-pick);
}
