.dashboardContainer {
  padding: 1rem;
  padding: 1rem;
  width: fit-content;
  max-width: 500px;
  margin: 0 auto;
}

.leagueList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.leagueListItem {
  cursor: pointer;
  width: fit-content;
  font-size: 1.2rem;
}

.leagueListItem:hover {
  font-weight: bold;
}

.selectContainer {
  width: 19rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 1rem 0;
}

.selectionOption {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 1rem 1.5rem 0.5rem 0;
}

.selected {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5rem;
}

.signOutBtn {
  margin: 3rem 0 1rem 0;
  background: #b3b3b3;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 3px 3px 0px black;
  cursor: pointer;
}

.signOutBtn:hover {
  background: lightgray;
}

.signOutBtn:active {
  box-shadow: none;
  transform: translate(2px, 3px);
}

.simpleForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.simpleForm input {
  font-size: 1.2rem;
  padding: 0.5rem 5px;
  width: 19rem;
  margin: 2px 0;
}

.simpleForm button {
  font-size: 1.2rem;
  width: 19rem;
  background: #b3b3b3;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 3px 3px 0px black;
  cursor: pointer;
}

.simpleForm button:hover {
  background: lightgray;
}

.simpleForm button:active {
  box-shadow: none;
  transform: translate(2px, 3px);
}
