:root {
  --main-red: #d50a0a;
  --main-blue: #013369;
  --light-background: #f3f3f3;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: var(--main-blue);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

input {
  padding: 2px 5px;
  margin-top: 3px;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.errorMessage {
  font-size: 1.3rem;
  font-weight: bold;
  color: red;
  margin: 0 auto;
}

.optionButton {
  background: rgb(226, 226, 226);
  border: 2px solid var(--main-blue);
  padding: 0.5rem 1.4rem;
  width: 9rem;
  height: 3.125rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  background-blend-mode: lighten;
  box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.4);
  transition: all 100ms linear;
}

/* .optionButton:hover {
  background-blend-mode: darken;
} */

.selectedOption {
  background-color: var(--main-red);
  color: white;
  font-weight: bold;
  padding: 0.2rem 1.2rem;
}

.minorOptionBtn {
  border: none;
  border-radius: 3px;
  background: #b3b3b3;
  color: black;
  padding: 0.4rem 1.2rem;
  width: 8.5rem;
  height: 2.2rem;
  cursor: pointer;
  box-shadow: 2px 3px 3px 0px black;
}

.minorOptionBtn:active {
  box-shadow: none;
  transform: translate(2px, 3px);
}

.selectedMinorOptionBtn {
  background-color: var(--main-red);
  color: white;
  font-weight: bold;
  padding: 0.2rem 1.2rem;
  /* width: 9rem; */
  height: 2.4rem;
  transform: translate(2px, 3px);
  box-shadow: none;
}
